#
# OpenSIPS residential configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# This is a basic residential configuration. Ready-to-use M4 templates are
# available under examples/templates/.
#
# Please refer to the OpenSIPS Manuals at:
#      https://opensips.org/Documentation/Manuals
# for an explanation of available statements, functions and parameters.
#


####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

log_level=3
xlog_level=3
stderror_enabled=no
syslog_enabled=yes
syslog_facility=LOG_LOCAL0

udp_workers=4

/* uncomment the next line to enable the auto temporary blacklisting of
   not available destinations (default disabled) */
#disable_dns_blacklist=no

/* uncomment the next line to enable IPv6 lookup after IPv4 dns
   lookup failures (default disabled) */
#dns_try_ipv6=yes

#### Node specific socket configuration


socket=udp:<CHANGE_ME>:5060 
socket=bin:<CHANGE_ME>:5566

#set module path
mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"

####### Modules Section ########
include_file "/etc/opensips/conf.d/modules.cfg"
include_file "/etc/opensips/conf.d/cluster-common.cfg"


#### Node specific Clusterer identity

modparam("clusterer", "db_mode", 0)
modparam("clusterer", "my_node_id", 1)
modparam("clusterer", "my_node_info", "cluster_id=1,url=bin:<NODE_IP>:5566,sip_addr=sip:<NODE_IP>:5060")

include_file "/etc/opensips/conf.d/neighbors.cfg"

####### Routing Logic ########

include_file "/etc/opensips/conf.d/routing.cfg"