#### Cluster common parameters

modparam("clusterer", "db_mode", 0)
modparam("clusterer", "ping_interval", 5)
modparam("clusterer", "ping_timeout", 2)
modparam("clusterer", "node_timeout", 15)
modparam("clusterer", "enable_rerouting", 1)