#### Modules and main parameters
# edit this file if you like to add extra modules etc.
loadmodule "proto_udp.so"
loadmodule "proto_bin.so"
loadmodule "signaling.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "sipmsgops.so"
loadmodule "acc.so"

loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0660)
modparam("mi_fifo", "fifo_group", "opensips")

loadmodule "usrloc.so"
modparam("usrloc", "working_mode_preset", "single-instance-no-db")
modparam("usrloc", "use_domain", 0)

loadmodule "registrar.so"

loadmodule "clusterer.so"

modparam("clusterer", "db_mode", 0)
loadmodule "cachedb_local.so"

modparam("cachedb_local", "cache_collections", "mesh = 14")
modparam("cachedb_local", "cachedb_url", "local:mesh:///mesh")
modparam("cachedb_local", "cache_clean_period", 60)

loadmodule "event_routing.so"