####### Routing Logic ########

# Main request routing logic
route {

    if (!mf_process_maxfwd_header(10)) {
        send_reply(483, "Too Many Hops");
        exit;
    }


    #
    # CANCEL
    #
    if (is_method("CANCEL")) {
        if (t_check_trans())
            t_relay();
        exit;
    }


    #
    # In-dialog requests
    #
    if (has_totag()) {

        # Hop-by-hop ACK
        if (is_method("ACK") && t_check_trans()) {
            t_relay();
            exit;
        }

        # Sequential requests should follow Record-Route
        if (!loose_route()) {
            send_reply(404, "Not here");
            exit;
        }

        if (is_method("BYE")) {
            do_accounting("log", "failed");
        }

        route(relay);
        exit;
    }


    #
    # Absorb retransmissions without creating
    # a new transaction
    #
    t_check_trans();


    ####################################################
    # RELAY PROTECTION
    ####################################################

    if (!is_method("REGISTER")) {

        #
        # Requests received from another OpenSIPS node
        # in Clusterer cluster 1 are trusted as
        # inter-node SIP traffic.
        #
        if (cluster_check_addr(1, $si, "sip")) {

            xlog("L_INFO",
                "MESH: SIP request received from "
                "cluster node $si:$sp\n");

        } else if (is_myself("$fd")) {

            #
            # Request originated from our local SIP
            # domain.
            #

        } else {

            #
            # Non-local callers may only call
            # a domain handled by this node.
            #
            if (!is_myself("$rd")) {

                xlog("L_WARN",
                    "MESH: relay denied from "
                    "$si:$sp to $ru\n");

                send_reply(403, "Relay Forbidden");
                exit;
            }
        }
    }


    #
    # Reject preloaded Route headers
    #
    if (loose_route()) {

        xlog("L_ERR",
            "Attempt to route with preloaded Route's "
            "[$fu/$tu/$ru/$ci]\n");

        if (!is_method("ACK"))
            send_reply(403, "Preload Route denied");

        exit;
    }


    #
    # Record routing
    #
    if (!is_method("REGISTER|MESSAGE"))
        record_route();


    #
    # Accounting
    #
    if (is_method("INVITE"))
        do_accounting("log");


    #
    # Requests for an external domain
    #
    # IMPORTANT:
    #
    # A request received from another mesh node may
    # still contain the original SIP domain in $rd.
    #
    # X-Mesh-Routed identifies such a request and
    # allows it to continue to local usrloc lookup.
    #
    if (!is_myself("$rd") &&
        !is_present_hf("X-Mesh-Routed")) {

        append_hf("P-hint: outbound\r\n");

        route(relay);
        exit;
    }


    #
    # Requests for our domain / mesh-routed requests
    #

    if (is_method("PUBLISH|SUBSCRIBE")) {
        send_reply(503, "Service Unavailable");
        exit;
    }


    ####################################################
    # REGISTER
    ####################################################

    #
    # Registration is LOCAL ONLY.
    #
    # usrloc is not replicated through Clusterer.
    #
    if (is_method("REGISTER")) {

        xlog("L_INFO",
            "REGISTER: AoR=$tu from $si:$sp\n");

        if (!save("location")) {

            xlog("L_ERR",
                "Failed to register AoR $tu\n");
        }

        exit;
    }


    #
    # R-URI must contain a username
    #
    if ($rU == NULL) {
        send_reply(484, "Address Incomplete");
        exit;
    }


    ####################################################
    # STEP 1 - LOCAL LOOKUP
    ####################################################

    #
    # Always try local usrloc first.
    #
    if (lookup("location", "method-filtering")) {

        xlog("L_INFO",
            "MESH: user $rU is LOCAL\n");

        do_accounting("log", "missed");

        route(relay);
        exit;
    }


    ####################################################
    # LOOP PROTECTION
    ####################################################

    #
    # If this request has already been routed through
    # the mesh, this node was supposed to own the AoR.
    #
    # If the local lookup now fails, do NOT start
    # another distributed lookup.
    #
    # This prevents:
    #
    # N1 -> N3 -> N1 -> N3 ...
    #
    if (is_present_hf("X-Mesh-Routed")) {

        xlog("L_WARN",
            "MESH: routed request for $rU arrived "
            "but user is not local\n");

        send_reply(404, "User not found");
        exit;
    }


    ####################################################
    # STEP 2 - DISTRIBUTED LOOKUP
    ####################################################

    xlog("L_INFO",
        "MESH: user $rU not local - "
        "starting discovery\n");

    route(MESH_LOOKUP);

    exit;
}



########################################################
# MESH LOOKUP
########################################################

route[MESH_LOOKUP] {

    #
    # Save original AoR while the SIP transaction
    # is suspended waiting for Clusterer.
    #

    $avp(mesh_aor) = $rU;


    #
    # Build:
    #
    # LOCATE|2001
    #

    $avp(mesh_request) =
        "LOCATE|" + $rU;


    xlog("L_INFO",
        "MESH: broadcasting "
        "[$avp(mesh_request)]\n");


    #
    # Ask all currently reachable Clusterer nodes.
    #

    cluster_broadcast_req(
        1,
        $avp(mesh_request),
        $var(mesh_tag)
    );


    if ($rc < 0) {

        xlog("L_ERR",
            "MESH: cluster broadcast failed for "
            "$avp(mesh_aor)\n");

        send_reply(500, "Mesh lookup failed");
        exit;
    }


    #
    # Match only replies belonging to this request.
    #

    $avp(mesh_filter) =
        "tag=" + $var(mesh_tag);


    #
    # Suspend SIP processing while waiting
    # for a Clusterer response.
    #

    async(
        wait_for_event(
            "E_CLUSTERER_RPL_RECEIVED",
            $avp(mesh_filter),
            2
        ),
        MESH_LOCATE_RESUME
    );

    exit;
}



########################################################
# MESH LOOKUP RESUME
########################################################

route[MESH_LOCATE_RESUME] {

    #
    # wait_for_event():
    #
    #  1  -> event received
    # -2  -> timeout
    # -1  -> error
    #

    if ($rc < 1) {

        xlog("L_INFO",
            "MESH: no owner found for "
            "$avp(mesh_aor)\n");

        send_reply(404, "User not found");
        exit;
    }


    #
    # Expected:
    #
    # FOUND|sip:192.168.19.140:5060
    #

    $var(reply_type) =
        $(avp(msg){s.select,0,|});

    $var(owner_uri) =
        $(avp(msg){s.select,1,|});


    if ($var(reply_type) != "FOUND" ||
        $var(owner_uri) == NULL ||
        $var(owner_uri) == "") {

        xlog("L_WARN",
            "MESH: invalid reply from node "
            "$avp(src_id): [$avp(msg)]\n");

        send_reply(404, "User not found");
        exit;
    }


    xlog("L_INFO",
        "MESH: $avp(mesh_aor) FOUND on node "
        "$avp(src_id), "
        "owner=$var(owner_uri)\n");


    #
    # Route SIP request to the OpenSIPS node
    # which owns the registration.
    #

    $du = $var(owner_uri);


    #
    # Mark request as mesh routed.
    #
    # The destination node will perform one final
    # local usrloc lookup.
    #

    if (!is_present_hf("X-Mesh-Routed")) {
        append_hf("X-Mesh-Routed: 1\r\n");
    }


    route(relay);
    exit;
}



########################################################
# RELAY
########################################################

route[relay] {

    if (is_method("INVITE")) {

        t_on_branch("per_branch_ops");
        t_on_reply("handle_nat");
        t_on_failure("missed_call");
    }


    if (!t_relay()) {
        send_reply(500, "Internal Error");
    }

    exit;
}



########################################################
# LOCAL AOR OWNERSHIP
########################################################

#
# Maintain a tiny LOCAL cache containing only AoRs
# owned by this OpenSIPS node.
#
# Example:
#
# local-aor:2001 = 1
#
# cachedb_local MUST NOT use Clusterer replication.
#

event_route[E_UL_AOR_INSERT] {

    if ($param(domain) == "location") {

        $var(local_key) =
            "local-aor:" + $param(aor);


        cache_store(
            "local:mesh",
            $var(local_key),
            "1",
            0
        );


        xlog("L_INFO",
            "MESH: local AoR added: "
            "$param(aor)\n");
    }
}



event_route[E_UL_AOR_DELETE] {

    if ($param(domain) == "location") {

        $var(local_key) =
            "local-aor:" + $param(aor);


        cache_remove(
            "local:mesh",
            $var(local_key)
        );


        xlog("L_INFO",
            "MESH: local AoR removed: "
            "$param(aor)\n");
    }
}



########################################################
# CLUSTERER LOCATION REQUEST
########################################################

event_route[E_CLUSTERER_REQ_RECEIVED] {

    #
    # Ignore requests belonging to other clusters.
    #

    if ($param(cluster_id) != 1)
        exit;


    xlog("L_INFO",
        "MESH: cluster request from node "
        "$param(src_id): [$param(msg)]\n");


    #
    # Parse:
    #
    # LOCATE|2001
    #

    $var(request_type) =
        $(param(msg){s.select,0,|});

    $var(request_aor) =
        $(param(msg){s.select,1,|});


    if ($var(request_type) != "LOCATE")
        exit;


    if ($var(request_aor) == NULL ||
        $var(request_aor) == "")
        exit;


    #
    # Does THIS node own the requested AoR?
    #

    $var(local_key) =
        "local-aor:" + $var(request_aor);


    if (!cache_fetch(
            "local:mesh",
            $var(local_key),
            $avp(mesh_local)
        )) {

        xlog("L_DBG",
            "MESH: $var(request_aor) "
            "not local\n");

        exit;
    }


    #
    # YES - this node owns the AoR.
    #
    # IMPORTANT:
    #
    # Replace <NODE_IP> with this node's
    # actual SIP IP address.
    #

    $var(mesh_reply) =
        "FOUND|sip:<NODE_IP>:5060";


    xlog("L_INFO",
        "MESH: I own $var(request_aor), "
        "replying to node $param(src_id)\n");


    cluster_send_rpl(
        $param(cluster_id),
        $param(src_id),
        $var(mesh_reply),
        $param(tag)
    );


    exit;
}



########################################################
# BRANCH ROUTE
########################################################

branch_route[per_branch_ops] {

    xlog("L_INFO",
        "New branch at $ru\n");
}



########################################################
# REPLY ROUTE
########################################################

onreply_route[handle_nat] {

    xlog("L_INFO",
        "Incoming reply $rs from $si:$sp\n");
}



########################################################
# FAILURE ROUTE
########################################################

failure_route[missed_call] {

    if (t_was_cancelled())
        exit;


    xlog("L_INFO",
        "Transaction failed for $ru\n");
}